
{% extends "base.html" %}
{% block content %}

<br> 
<h1>{{ offerings.Program }}</h1>

<br>
  
 
<br>
<h4>General Info</h4>
    <p>Tution: {{ offerings.tuition }} LBD</p>
    <p>University: {{ offerings.University }}</p>
    <p>Program: {{ offerings.Program }}</p>
    
    <p>Location: {{ offerings.location_local }}, {{offerings.location_broad}}</p>
    
    <br>
    <H4>Program Information</H4>
    <p>Enrollment Start: {{ offerings.Enrollment_Start }}</p>
<p>Enrollment End: {{ offerings.Enrollment_End }}</p>
<br>
<h4>Other Details</h4>
    <p>Description: {{ offerings.Description }}</p>
    <br>
<form method="post" action="/listing/buy">
    {% csrf_token %}

    <input type="hidden" name="propertyid" value="{{ job.id }}">
    <input type="submit" value="Apply">
    
  </form>

  {% endblock %}