{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LucidBridge</title>
</head>
<body>
    {% block content %}
    <br>

       <h3>Recent Listings:</h3>
    {% for listing in listings %}
 
    
 <ul>
   <li class="mt-3 mb-3">{{ listing.street }} <a class="btn btn-sm btn-outline-secondary mx-2" href="{{listing.get_absolute_url}} ">Details</a>
   </li>
 </ul> 
   {% endfor %}

</body>
{% endblock %}
</html>