
{% block content %}
  <h1>Listings</h1>
  <ul>
    {% for listing in listings %}
      <li>
        <img src="{{ listing.image.url }}" alt="{{ listing.name }} Image">

        <h2>{{ listing.street }}</h2>
        <h4> Type: {{ listing.property_type }}</h4>

        <p>Price: {{ listing.price }} LBG</p>
        <p>City: {{ listing.city }}</p>
        <p>State: {{ listing.state }}</p>
        <p>Territory: {{ listing.territory }}</p>
        <p>Zip: {{ listing.zip }}</p>
      </li>
      <form method="post" action="/listing/buy">
        {% csrf_token %}

        <input type="hidden" name="propertyid" value="{{ listing.id }}">
        <input type="submit" value="Purchase">
        <input type="submit" value="View Details">

        
      </form>
          <!--         <p>Address:  {{ listing.street }}, {{ listing.city }}, {{ listing.zip }}, {{ listing.state }}, {{ listing.territory }}</p>
--->
    {% endfor %}
  </ul>
{% endblock %}
