{% extends "base.html" %}

{% block content %}


<br>
  <h1>Listings</h1>
    {% for listing in listings %}
    <br>
      
        <img src="{{ listing.image.url }}" alt="{{ listing.name }} Image" class="mt-3">

        <h2>{{ listing.street }}</h2>
        <h4> Type: {{ listing.property_type }}</h4>

        <p>Price: {{ listing.price }} LBG</p>
        <p>City: {{ listing.city }}</p>
        <p>State: {{ listing.state }}</p>
        <p>Territory: {{ listing.territory }}</p>
        <p>Zip: {{ listing.zip }}</p>  
      
      <form method="post" action="/listing/buy">
        {% csrf_token %}

        <input type="hidden" name="propertyid" value="{{ listing.id }}">
        <input type="submit" value="Purchase" class="btn btn-sm btn-primary mt-2 w-25"> 
       

        
      </form>
          <!--         <p>Address:  {{ listing.street }}, {{ listing.city }}, {{ listing.zip  }}, {{ listing.state }}, {{ listing.territory }}</p>
--->
<a href="{{listing.get_absolute_url}} " class="btn btn-sm btn-outline-secondary mt-2 w-25">Details</a>
<br>
    {% endfor %}
{% endblock %}
